<mat-toolbar color="primary">
    <span>Sample Bookmark Application</span>
</mat-toolbar>

<div class="container-fluid">
<form [formGroup]="selectGroupForm">
    <mat-form-field>
        <mat-label>Select Group</mat-label>
        <mat-select (selectionChange)="onChangeGroup($event)" formControlName="selectedGroup">
            <mat-option *ngFor="let group of uniqueGroups" [value]="group">
                {{group}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>

<table *ngIf="isGroup" mat-table [dataSource]="groupedBookmarks" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td class="mat-column-name" mat-cell *matCellDef="let bookmark"> {{bookmark.name}} </td>
    </ng-container>

    <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> Url </th>
        <td class="mat-column-url" mat-cell *matCellDef="let bookmark"><a href="{{bookmark.url}}"> {{bookmark.url}} </a></td>
    </ng-container>

    <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef> Group </th>
        <td class="mat-column-group" mat-cell *matCellDef="let bookmark"> {{bookmark.group}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
		<th mat-header-cell *matHeaderCellDef> </th>
		<td class="mat-column-action" mat-cell *matCellDef="let bookmark">
            <button mat-icon-button color="warn" (click)="onDelete(bookmark)"><mat-icon>delete</mat-icon></button>
		</td>
	</ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<table *ngIf="!isGroup" mat-table [dataSource]="bookmarks" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td class="mat-column-name" mat-cell *matCellDef="let bookmark"> {{bookmark.name}} </td>
    </ng-container>

    <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> Url </th>
        <td class="mat-column-url" mat-cell *matCellDef="let bookmark"><a href="{{bookmark.url}}"> {{bookmark.url}} </a></td>
    </ng-container>

    <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef> Group </th>
        <td class="mat-column-group" mat-cell *matCellDef="let bookmark"> {{bookmark.group}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
		<th mat-header-cell *matHeaderCellDef> </th>
		<td class="mat-column-action" mat-cell *matCellDef="let bookmark">
			<button mat-icon-button color="warn" (click)="onDelete(bookmark)"><mat-icon>delete</mat-icon></button>
		</td>
	</ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<br/><br/>
<div>Add New Bookmark</div>

<form [formGroup]="bookmarkForm">
    <mat-form-field>
        <input matInput placeholder="Bookmark Name" formControlName="name" required>
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Bookmark Url" formControlName="url" required>
        <mat-error *ngIf="url.invalid && (url.dirty || url.touched)">Url is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Bookmark Group" formControlName="group" required>
        <mat-error *ngIf="group.invalid && (group.dirty || group.touched)">Group is required</mat-error>
    </mat-form-field>

    <span class="btn-span"><button mat-raised-button color="primary" (click)="onSave($event)">Save</button></span>
    <span class="btn-span"><button mat-raised-button color="primary" (click)="onClear($event)">Clear</button></span>
</form>

</div>